@model IEnumerable<Contract>
@{
	ViewBag.Title	= "Contracts";
}

<partial name="_ClientMenuPartial" />

<div class="container body-content">
	
	<p>Вы можете связаться с нами по номеру 8800755022 или связаться с конкретным @Html.ActionLink("менеджером", "GetManagers", "Client")</p>
	<br />
	
	<h2>Мои договоры</h2>
	
	<div class="form-group has-search">
		<input type="text" id="search" class="form-control" placeholder="Поиск">
	</div>
	
	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Менеджер</th>
			<th>Услуга</th>
			<th>Цена услуги</th>
			<th>Статус</th>
		</tr>
		</thead>

		<tbody>
		@foreach (var contract in Model)
		{
			<tr class="@switch (contract.Status.Id)
				{
					case 2:
						@:table-success
						break;
					case 3:
						@:table-danger
						break;
					default:
						@:table-warning
						break;
				}">
				<td class="searchable">
					@contract.Id
				</td>
				<td class="searchable">
					@Html.ActionLink(contract.Manager.Name, "GetManager", "Client",
						new { id = contract.Manager.Id }, null)
				</td>
				<td class="searchable">
					@(contract.Favour?.Name ?? "Услуга удалена")
				</td>
				<td class="searchable">
					@(contract.Favour?.Cost != null ? $"{contract.Favour?.Cost} $" : "0")
				</td>
				<td class="searchable">
					@contract.Status.Name
				</td>
			</tr>
		}
		</tbody>
	</table>
</div>

@section scripts {
	<script src="~/client/js/index.js"></script>
}