@model IEnumerable<Favour>
@{
	ViewBag.Title = "Favours";
}

<partial name="_ManagerMenuPartial" />

<div class="container body-content">
	
	<h2>Услуга</h2>
	
	<p>
		@Html.ActionLink("Добавить услугу", "CreateFavour", "Manager")
	</p>
	
	<div class="form-group has-search">
		<input type="text" id="search" class="form-control" placeholder="Поиск">
	</div>
	<table class="table">
		<thead>
		<tr>
			<th>Id</th>
			<th>Название</th>
			<th>Действие</th>
		</tr>
		</thead>
		
		<tbody>
		@foreach (var favour in Model)
		{
			<tr>
				<td class="searchable">
					@favour.Id
				</td>
				<td class="searchable">
					@favour.Name
				</td>
				<td class="searchable">
					@favour.Cost
				</td>
				<td>
					<div class="form-group">
						<input type="button" class="btn btn-outline-primary btn-sm" value="Редактировать"
							onclick="location.href='@Url.Action("GetFavour", "Manager", new { id = favour.Id})'" />
						|
						<input type="button" class="btn btn-outline-danger btn-sm delete-favour" value="Удалить" />
					</div>
				</td>
			</tr>
		}
		</tbody>
	</table>
	
</div>

@section scripts {
	<script src="~/manager/js/getFavours.js"></script>
} 