@{
	ViewBag.Title = "Contracts";
	
	var statuses	= ViewBag.Statuses;
}

@model IEnumerable<Contract>

<h2>Contracts</h2>
<p>
	@Html.ActionLink("Создать новый договор", "CreateContract", "Manager")
</p>
<table>
	<tr>

		<th>
			@Html.DisplayNameFor(model => model.Id)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Manager)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Client)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Favour)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
	</tr>

	@foreach (var contract in Model)
	{
		<tr>
			<td>
				@contract.Id
			</td>
			<td>
				@contract.Manager.Name
			</td>
			<td>
				@contract.Client.Name
			</td>
			<td>
				@contract.Favour.Name
			</td>
			<td>
				@Html.DropDownList(nameof(Status), new SelectList(statuses,
					nameof(Status.Id), nameof(Status.Name), contract.Status.Id))
			</td>
			<td>
				@* @Html.ActionLink("Edit |", "UpdateCustomer", new { id =  item.Id})*@
				@* @Html.ActionLink("Details", "Details", new { id =  item.Id})*@
				@* @Html.ActionLink("Delete", "Delete", new { id =  item.Id})*@
			</td>
		</tr>
	}
</table>
